.App {
  text-align: center;
}

.App-logo {
  width: 30%;
}

.App-header {
  background-image: url("./img/fundo.jpg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  max-width: 38em;
  padding: 1em 3em 2em 3em;
  margin: 0em auto;
  background-color: #fff;
  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}

h4 {
  color: #000;
  text-align: left;
  margin: 7px;
}

input {
  width: 90%;
  padding-bottom: 10px;
  margin-bottom: 4px;
  padding: 1em;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.col-rep {
  padding-right: 36px;
  float: left;
  width: 8%;
}

section p{
  overflow: hidden;
  max-height: 0em;
  padding: 0;
  margin: 0;
  text-align: justify;
  font-family: Arial;
  background: #fff;
}
section a {
text-decoration: none;
display: block;
text-align: left;
padding: 10px;
background: black;
border-bottom: 2px solid gray;
color: white;
}
section:target p{
  max-height: 20em;
  padding: 10px;
}
