.App {
  text-align: center;
}

.App-logo {
  width: 30%;
}

.App-header {
  background-image: url("./img/fundo.jpg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn { 
  display: inline-block; 
  margin-bottom: 10px;
  background-color: #aecb06;
  font-size: 13px;
  font-weight: bold;
  line-height: 33px;
  width: 322px;
  color: #333333; 
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  border: 1px solid #aecb06; 
  border-radius: 4px; 
  cursor: pointer;
  user-select: none;
}

.btn:hover { 
  display: inline-block; 
  margin-bottom: 10px;
  background-color: #97ac1e;
  font-size: 13px;
  font-weight: bold;
  line-height: 33px;
  width: 322px;
  color: #333333; 
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  border: 1px solid #aecb06; 
  border-radius: 4px; 
  cursor: pointer;
}