.App {
  text-align: center;
}

.App-logo {
  width: 30%;
}

.App-header {
  background-image: url("./img/fundo.jpg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.login { 
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
  width:300px;
  height:300px;
}

input { 
  width: 100%; 
  margin-bottom: 10px; 
  background: rgba(0,0,0,0.3);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 4px;
}

::-webkit-input-placeholder {
    color: #fff;
}

.btn { 
  display: inline-block; 
  margin-bottom: 0;
  background-color: #aecb06;
  font-size: 13px;
  font-weight: bold;
  line-height: 33px;
  width: 322px;
  color: #333333; 
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  border: 1px solid #aecb06; 
  border-radius: 4px; 
  cursor: pointer;
}